* {
  margin: 0;
  padding: 0;
}

.container {
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper {
  /* background: #000000;  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #434343, #000000); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
 /* background: #494848; */
  background: #1e130c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}
.header h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}
.task-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: white;
  background-color: #000;
  border: 1px solid white;
  border-radius: 10px;
}
.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f1af71;
  border: 1px solid white;
  cursor: pointer;
}
.list-item {
  
  display: flex;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}
.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
  
}
.button-complete {
  color: #15d676;
  margin-right: 10px;
}
.button-edit {
  color: #e2d029;
  margin-right: 10px;
}
.button-delete {
  color: rgb(240, 96, 96);
  
}
.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #e99090;
  opacity: 0.6;
}
.list {
  width: 220px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 15px;
}
input:focus,
button:focus {
  outline: none;
}